:root {
    --basic-red: #EE3643;
    --basic-white: #FFFFFF;
    --header-background: #F3F7F9;
    --darker-blue: #293449;
    --basic-blue: #32425C;
    --basic-black: #000000;
    --materials-color: #FFBF47;
    --delivery-color: #FFC047;
    --tools-color: #3BBCE3;
    --technic-color: #DC91D8;
    --sales-color: #8ED78F;
    --popular-titles-color: #F9F5F0;
    --borders-color: #EAEAEA;
    --services-color: #F1F5F7;
    --footer-nav-bottom: #FFD180;
    --socials-background: #212A3A;
    --catalog-title: #F2F6F8;
    --button-buy: #63A63E;
    --old-prices: #A9A9A9;
    --darker-red: #BA2732;
    --sorting-color: #F7F3EC;
    --borders-pagination-color: #E5E5E5;
    --borders-grey: #C5C5C5;
    --in-favorite-active-color: #D8D8D8;
    --favorites-active-color: #161D29;
    --order-hover: #5FBB2D;
    --features-disable-color: #405069;
    --products-active-color: #518534;
    --products-buy-shadow: #367315;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--basic-white);
    color: var(--basic-black);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
    box-sizing: border-box;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.basic-navigation {
    font-size: 18px;
    line-height: 24px;
}

.main-header {
    background-color: var(--header-background);
}

.main-header ul {
    list-style: none;
}

.main-header-top a {
    color: var(--basic-white);
}

.main-header-top {
    width: 100%;
    margin-bottom: 46px;
    background-color: var(--darker-blue);
}

.header-top-wrapper {
    display: flex;
    height: 42px;
}

.main-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 47px;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-header-logo:active {
    background-color: var(--darker-red);
}

.search {
    width: 271px;
}

.search input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 42px;
    background-color: var(--darker-blue);
    border: none;
    outline: none;
}

.search input::placeholder {
    color: var(--basic-white);
}

.search input:focus {
    background-color: var(--basic-white);
    border: none;
}

.products-navigation {
    display: flex;
    flex-grow: 1;
}

.favorites {
    position: relative;
    padding: 9px 24px 9px 43px;
    flex-grow: 1;
}

.favorites::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 20px;
    width: 14px;
    height: 16px;
    background-image: url("/img/icon_bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cart {
    flex-grow: 1;
    padding: 9px 26px 9px 49px;
}

.order {
    flex-grow: 1;
    padding: 9px 16px 9px 19px;
    background-color: var(--button-buy);
}

.favorites:active,
.cart:active {
    background-color: var(--favorites-active-color);
}

.favorites:active,
.cart:active,
.order:active {
    color: rgba(255, 255, 255, 0.5);
}

.order:hover {
    background-color: var(--order-hover);
}

.main-header-bottom {
    display: flex;
    flex-direction: column;
}

.header-bottom-wrapper {
    display: flex;
    justify-content: flex-end;
}

.main-header-title {
    width: 197px;
    margin: 0;
    margin-top: -2px;
    margin-right: 95px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}

.main-header-contacts a {
    display: block;
    margin-bottom: 3px;
    padding: 4px 42px 5px 71px;
    border: 3px solid var(--basic-white);
    color: var(--basic-red);
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
}

.main-header-contacts p {
    margin: 0;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-blue);
    text-align: center;
}

.user-navigation {
    margin: 0;
    margin-left: 69px;
    display: flex;
}

.button-into {
    margin-right: 10px;
    padding: 12px 27px 12px 45px;
}

.button-registration {
    padding: 12px 24px;
}

.user-navigation a {
    display: block;
    background-color: var(--basic-white);
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
}

.user-navigation a:hover {
    color: var(--basic-red);
}

.user-navigation a:active {
    color: var(--borders-grey);
}

.main-navigation ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 60px;
    margin-bottom: 60px;
    background-color: var(--basic-blue);
    box-shadow: inset 0px -5px 0px var(--darker-blue);
}

.main-navigation a {
    display: block;
    padding: 16px 25px 20px 25px;
    color: var(--basic-white);
}

.main-navigation a:hover {
    background-color: var(--darker-blue);
}

.main-navigation a:active {
    background-color: var(--darker-blue);
    color: rgba(255, 255, 255, 0.5);
}

.main-menu-item:nth-of-type(1) {
    background-color: var(--materials-color);
}

.main-menu-item:nth-of-type(2) {
    background-color: var(--tools-color);
}

.main-menu-item:nth-of-type(3) {
    background-color: var(--technic-color);
}

.main-menu-item:nth-of-type(5) {
    background-color: var(--sales-color);
}

.main-menu-item:nth-of-type(6) {
    background-color: var(--delivery-color);
}

.main-menu-item h3 {
    color: var(--basic-white);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.main-menu-item a {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
}

.main-menu-item a:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.main-menu-item a:active {
    background-color: rgba(169, 169, 169, 0.3);
}

.main-menu-slide:nth-of-type(1) {
    background-image: url(/img/img_perforators.jpg);
    background-repeat: no-repeat;
    background-color: var(--basic-blue);
}

.main-menu-slide:nth-of-type(2) {
    background-image: url(/img/img_drills.jpg);
    background-repeat: no-repeat;
    background-color: var(--basic-blue);
}

.main-menu-slide h3 {
    color: var(--basic-white);
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.main-menu-slide p {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.main-menu-slide a:active {
    background-color: var(--darker-red);
}

.button {
    background-color: var(--basic-red);
    color: var(--basic-white);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.popular-header {
    background-color: var(--popular-titles-color);
}

.popular-header h2 {
    color: var(--basic-blue);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.makers-item {
    border: 1px solid var(--borders-color);
}

.makers-item a:active {
    opacity: 0.5;
}

.features {
    background-color: var(--services-color);
}

.features p {
    font-family: 'PT Sans', Arial, sans-serif;
    color: var(--basic-black);
    font-size: 13px;
    line-height: 24px;
}

.features-title h2 {
    color: var(--basic-black);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.features-button {
    background-color: var(--basic-blue);
    border: none;
    outline: none;
    color: var(--basic-white);
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
}

.features-button-active {
    background-color: var(--basic-white);
    color: var(--basic-blue);
}

.features-button-disable {
    box-shadow: 0px 1px 0px var(--darker-blue), inset 0px 1px 0px var(--features-disable-color);
}

.features-button-disable:hover {
    background-color: var(--darker-blue);
}

.features-all h3 {
    color: var(--basic-blue);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.features-delivery {
    background-image: url(/img/img_delivery_auto.png);
    background-repeat: no-repeat;
}

.features-guarantee {
    background-image: url(/img/img_guarantees.png);
    background-repeat: no-repeat;
}

.features-credit {
    background-image: url(/img/img_credit.png);
    background-repeat: no-repeat;
}

.features-hidden {
    display: none;
}

.index-columns .container {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.about-company {
    width: 478px;
}

.main-contacts {
    width: 300px;
}

.partners {
    margin-top: 24px;
}

.index-columns h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.index-columns p {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.partners-list {
    margin: 0;
    padding: 0;
    margin-bottom: 31px;
    margin-left: 37px;
    list-style: none;
}

.partners-list li:not(:first-child) {
    margin-top: 12px;
}

.partners-button {
    display: inline-block;
    vertical-align: middle;
    padding: 11px 40px 9px 40px;
    margin-bottom: 70px;
}

.main-map {
    display: block;
    margin-top: 32px;
}

.modal-summon-button {
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;
    padding: 11px 61px 9px 61px;
}

.main-footer {
    background-color: var(--basic-blue);
    color: var(--basic-white);
}

.main-footer-top .container {
    display: flex;
    justify-content: space-between;
}

.main-footer-logo {
    display: block;
    width: 220px;
    background-color: var(--basic-red);
    text-align: center;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-footer-logo img {
    padding: 20px 25px;
}

.main-footer-contacts {
    margin-bottom: 54px;
}

.footer-contacts-address {
    margin: 0;
    margin-top: 22px;
}

.footer-contacts-phone {
    color: var(--basic-white);
}

.main-footer-navigation {
    margin-top: 37px;
}

.main-footer-navigation ul {
    margin: 0;
    list-style: none;
}

.main-footer-navigation ul:nth-child(2) {
    margin-top: 34px;
}

.footer-menu-list {
    display: flex;
    justify-content: flex-end;
}

.footer-menu-list li:not(:last-child) {
    margin-right: 59px;
}

.footer-menu-item a {
    color: var(--basic-white);
}

.footer-menu-item a:hover {
    text-decoration-line: underline;
}

.footer-menu-item a:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-copyright {
    margin-right: 161px;
}

.footer-copyright p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}

.footer-menu-list:last-child a {
    color: var(--footer-nav-bottom);
}

.main-footer-links .container {
    height: 107px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-footer-links {
    background-color: var(--darker-blue);
}

.main-footer-links a {
    font-size: 16px;
    line-height: 18px;
}

.socials-list {
    display: flex;
    margin: 0;
    margin-right: 118px;
    list-style: none;
}

.social-item:not(:last-child) {
    margin-right: 1px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--socials-background);
    border-radius: 50%;
}

.social-button:hover,
.social-button:active {
    background-color: var(--basic-red);
}

.feedback {
    display: flex;
    justify-content: space-between;
    width: 286px;
}

.feedback-back {
    margin-right: 51px;
}

.feedback a {
    color: var(--footer-nav-bottom);
}

.feedback a:hover {
    text-decoration: underline;
}

.feedback a:active {
    color: var(--basic-red);
    text-decoration: none;
}

.feedback p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
}

.modal {
    display: none;
}


/* Catalog */

.full-favorites {
    position: relative;
    padding: 9px 38px 9px 43px;
    flex-grow: 1;
}

.full-cart {
    flex-grow: 1;
    padding: 9px 21px 9px 35px;
    background-color: var(--basic-red);
}

.full-cart:active,
.full-cart:hover {
    background-color: var(--darker-red);
}

.user-control {
    min-width: 299px;
    height: 45px;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: var(--basic-white);
}

.into-cabinet {
    position: relative;
    padding-left: 56px;
    width: 186px;
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
}

.into-cabinet:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 15px;
    width: 20px;
    height: 18px;
    background-image: url("/img/icon_loginface.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.exit-cabinet {
    position: relative;
}

.exit-cabinet::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 21px;
    width: 20px;
    height: 17px;
    background-image: url("/img/icon_exit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.personal-navigation {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.personal-navigation::after {
    content: "";
    position: absolute;
    top: 61px;
    left: 133px;
    width: 5px;
    height: 5px;
    background-color: var(--basic-blue);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.my-orders {
    margin-right: 31px;
}

.personal-navigation a {
    color: var(--basic-blue);
    font-size: 16px;
    line-height: 18px;
}

.personal-navigation a:hover {
    color: var(--basic-red);
}

.personal-cabinet {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 50px;
}

.personal-cabinet a:active {
    color: var(--borders-grey);
}

.breadcrumbs {
    margin: 0;
    margin-top: 18px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.breadcrumbs-item:not(:last-child) {
    position: relative;
    margin-right: 41px;
}

.breadcrumbs-item::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -24px;
    width: 8px;
    height: 12px;
    background-image: url(/img/icon_right-breadcrumbs.svg);
    background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
    display: none;
}

.breadcrumbs-item:first-child a:first-child::before {
    display: block;
    content: "";
    margin-top: 5px;
    width: 14px;
    height: 12px;
    background-image: url(/img/icon_home.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs a {
    color: var(--basic-black);
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.page-title {
    margin: 0;
    margin-top: 16px;
    padding: 29px 739px 30px 29px;
    color: var(--basic-blue);
    background-color: var(--catalog-title);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog-columns {
    margin-top: 20px;
    display: flex;
}

.filters-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 10px 151px 10px 18px;
    font-family: 'PT Sans', Arial, sans-serif;
    background-color: var(--sorting-color);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.filter-price {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    border: none;
}

.filter-price legend {
    margin-bottom: 11px;
}

.filter-producers {
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    border: none;
}

.filter-supply {
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    border: none;
}

.range-price input {
    background-color: var(--sorting-color);
    outline: none;
    border: none;
    text-align: center;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
}

.range-price span {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.filter legend {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter li {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    list-style: none;
}

.filter-button {
    padding: 10px 78px;
    font-family: 'PT Sans', Arial, sans-serif;
    background-color: var(--basic-white);
    border: 1px solid var(--borders-pagination-color);
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.sorting {
    display: flex;
    align-items: center;
    height: 38px;
    margin-bottom: 28px;
    background-color: var(--sorting-color);
}

.sorting-buttons {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting-buttons li:nth-child(1) {
    margin-right: 70px;
}

.sorting-buttons li:nth-child(2) {
    margin-right: 65px;
}

.sorting-buttons li:nth-child(3) {
    margin-right: 46px;
}

.sorting-buttons li:nth-child(4) {
    margin-right: 21px;
}

.sorting-title {
    margin: 0;
    margin-right: 140px;
    margin-left: 19px;
}

.sorting-title,
.sorting-buttons a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting-button {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dashed var(--basic-red);
}

.sorting-button:hover {
    color: var(--basic-black);
    border-bottom: 1px solid var(--basic-red);
}

.sorting-button-active {
    color: var(--basic-red);
    border: none;
}

.products-column {
    margin-left: 20px;
}

.products-list,
.makers-list,
.pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.choices-list {
    display: none;
    margin-top: 38px;
    margin-bottom: 54px;
    list-style: none;
}

.products-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 220px;
    min-height: 318px;
    margin-right: 17px;
    margin-bottom: 16px;
    border: 1px solid var(--borders-color);
    text-align: center;
}

.products-item img {
    margin-bottom: 29px;
    margin-left: 32px;
    width: 144px;
    height: 128px;
}

.products-item h3 {
    margin: 0;
    margin-right: 17px;
    margin-bottom: 40px;
    margin-left: 17px;
}

.products-item:nth-child(3n) {
    margin-right: 0;
}

.products-item:hover img {
    display: none;
}

.products-item:hover .choices-list {
    display: block;
}

.products-item:hover,
.makers-item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.products-item h3 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

.old-price {
    position: absolute;
    margin: 0;
    bottom: 72px;
    left: 77px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration-line: line-through;
    color: var(--old-prices);
}

.products-price {
    position: relative;
    margin: 0;
    margin-right: 54px;
    margin-left: 45px;
    margin-bottom: 21px;
    padding: 10px 22px 10px 32px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.products-price::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 141px;
    height: 38px;
    background-image: url("/img/red-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
}

.products-buy {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 40px 10px 53px;
    background-color: var(--button-buy);
    color: var(--basic-white);
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    box-shadow: inset 0px -3px 0px var(--products-buy-shadow);
    border-radius: 2px;
}

.products-buy:hover {
    background-color: var(--order-hover);
}

.products-buy:active {
    background-color: var(--products-active-color);
}

.in-favorite {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    padding: 8px 31px 6px 30px;
    background-color: var(--basic-white);
    color: var(--basic-blue);
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: 3px solid var(--button-buy);
    border-radius: 2px;
}

.in-favorite:hover {
    border: 3px solid var(--basic-blue);
}

.in-favorite:active {
    border: 3px solid var(--in-favorite-active-color);
    color: var(--in-favorite-active-color);
}

.pagination-list {
    display: flex;
    margin-top: 37px;
    margin-bottom: 59px;
}

.pagination-item:not(:last-child) a {
    padding: 10px 15px;
}

.pagination-item:last-child a {
    padding: 10px 31px;
}

.pagination-item a {
    margin-right: 9px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--basic-white);
    border: 1px solid var(--borders-pagination-color);
    border-radius: 2px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.pagination-item a:hover {
    border: 1px solid var(--borders-grey);
}

.pagination-item a:active {
    border: 1px solid var(--basic-red);
}

.pagination-item-active a {
    border: 1px solid var(--basic-red);
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.pagination-item-active a:hover {
    border: 1px solid var(--basic-red);
}

.about-products {
    padding-top: 74px;
    padding-bottom: 70px;
    background-color: var(--services-color);
}

.about-products-title {
    margin: 0;
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about-products-describe {
    margin: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}
